/* CSS files add styling rules to your content */

body {
  font-family: 'Fira Code', monospace;
  margin: 2em;
  background-color: rgb(251, 224, 200);
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-weight: normal;
  font-size: 1rem;
}

button {
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  border: none;
  background: none;
}
.art-piece {
  height: 40vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

h2 {
  margin: 0;
  align-self: flex-end;
}

.description {
  margin: 0;
  align-self: flex-end;
  width: 20vw;
}
